{% extends 'home\base.html' %}

{% load static %}

{% block contact %}



    <body>

    <title>location</title>


    <div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>

    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://maps.google.com/maps?q=Medina+Saudi+Arabia&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                style="border:0" allowfullscreen></iframe>
    </div>

    <!--Google Maps-->
    </body>
{% endblock contact %}