{% extends 'home\base.html' %}

{% load static %}
{% block contact %}


        <link rel="stylesheet" type="text/css" href="{% static 'css/location.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>location</title>
</head>
  <div class="box">
<body>
<br>

<h2>How To Find us?</h2>

<br>
You can find us easily by clicking here..
<a href="https://www.google.com/maps/dir/24.446102,39.6621277/%D8%B1%D9%88%D8%AA%D8%A7%D9%86%D8%A7+%D9%84%D8%AA%D8%A3%D8%AC%D9%8A%D8%B1+%D8%A7%D9%84%D8%B3%D9%8A%D8%A7%D8%B1%D8%A7%D8%AA%D8%8C+6172+%D8%B7%D8%B1%D9%8A%D9%82+%D8%A7%D9%84%D9%85%D9%84%D9%83+%D8%B9%D8%A8%D8%AF+%D8%A7%D9%84%D8%B9%D8%B2%D9%8A%D8%B2%D8%8C+%D8%A8%D9%86%D9%8A+%D9%85%D8%B9%D8%A7%D9%88%D9%8A%D8%A9%D8%8C+5300,+%D8%A7%D9%84%D9%85%D8%AF%D9%8A%D9%86%D8%A9+%D8%A7%D9%84%D9%85%D9%86%D9%88%D8%B1%D8%A9+42313%E2%80%AD%E2%80%AD/@24.4579754,39.6640425,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x15bdbe367ebda237:0xb4c63afd4dc1ff27!2m2!1d39.6334529!2d24.4701443">
click
</a>
<br>
<br>
<br>
<br>
</body>
  </div>
</html>

{% endblock contact%}
