{% extends 'home\base.html' %}
{% load crispy_forms_tags %}
{% block contact %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<div class="box">

      <h3 id="form-title">Reset Password</h3>
    <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">

        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Reset Password</button>
    </div>
    </form>

</div>


{% endblock contact %}


