
body {
    background-image: url("../home/images/j.png");
    background-size: cover;
    background-position: center;
}


.box {
    margin: 40px auto;
    background-color: rgba(220, 220, 220, 0.9);
    text-align: center;
    width: 50%;
    padding: 30px;
    position: static;
    border: 1px solid;
}

.footer {
    margin: 0 auto;
    background-color: rgba(220, 220, 220, 0.7);
    text-align: center;
    width: 100%;
    padding: 25px;
    position: static;
    border: 1px solid;
}


.AboutUs{

    font-size: large;
    color: black;
    margin: auto;
    text-align: center;
}


.Card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  width: 15%;
  border-radius: 4px;
    display: inline-block ;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 2px;
  margin: auto;
}

.container {
  padding: 2px 4px;
}

.vv{
    margin: auto;

}
